.navbar {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
}

#nav-header {
  color: #ff9100;
  size: 1em !important;
  margin: 0;
  font-weight: bold;
  -webkit-text-stroke: 0.3px rgb(0, 0, 0);
}


.authlink {
  text-decoration: none;
  margin: 0 15px;
  color: #ff8800;
  font-weight: bold;
  font-size: 25px;
  -webkit-text-stroke: 0.2px rgb(0, 0, 0);
}

.authlink:hover {
  color: white;
}

