@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-image: url('/images/AnimeDragon4.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  font-family: "Iceberg", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #9ac2ef;
}

.show-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.show-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.show-header > h1 {
  color: #ff9100;
  font-size: 3.4em;
  margin-left: 10px;
  -webkit-text-stroke: 0.2px rgb(0, 0, 0);
}

.show-actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 30px;
}

button {
  font-family: 'Iceberg', sans-serif;
  padding: 8px 10px;
  background-color: #f107079c;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1.1em;
  width: 10em;
  margin: 5px;
}

button:hover {
  background-color: #d82149;
}

.show-actions > a {
  background-color: #f08b0785;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  padding: 8px 10px;
  border-radius: 30px;
  width: 10em;
  text-align: center;
  margin: 5px;
  font-family: 'Iceberg', sans-serif;
}

.show-actions > a:hover {
  background-color: #7258429d;
}

p {
  background-color: #cec7c798;
  border-radius: 5px;
  color: #ff7b00;
  font-weight: bold;
  font-size: 1.4em;
  margin: 10px 30px;
  text-align: center;
  -webkit-text-stroke: .2px #000000;
}

.show-notes-container {
  width: 90%;
  margin: 20px 0;
}

.show-notes-container > a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(226, 198, 198);
  font-size: 1.4em;
  margin: 20px;
}

.show-notes-container > a:hover {
  color: #4b598e;
}

.show-notes {
  background-color: #fffbfb;
  width: 85%;
  border-radius: 20px;
  padding: 40px 40px 20px 40px;
  margin: 20px 10px;
}

h2 {
  margin: 0 10px;
  color: #ff0000;
}

.show-notes > p {
  font-weight: normal;
  color: #1c2e5b;
  text-align: left;
  font-size: 1.2em;
}

h3 {
  margin: 10px 0;
 
  color: #ff0000;
  border-radius: 5px;
  gap: 15px;
  margin-bottom: 45px;
  padding: 5px 10px;
  font-size: 1.8em;
  -webkit-text-stroke: 0.3px rgb(0, 0, 0);
}
