@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Iceberg", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}


.index-body {
  background-image: url('/images/AnimeDragon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px rgb(255, 177, 75);
}

.main-header {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 5.6em;
  margin: -160px 20px 0 20px;
  -webkit-text-stroke: 1px rgb(255, 177, 75);
}

.subheader {
  margin: 0 20px 0 20px;
  font-size: 3em;
}

.index-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.auth-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 80px 0 0;
  height: 100%;
}

.signup-link,
.signin-link {
  text-decoration: none;
  font-size: 1.5em;
  padding: 8px 0;
  border-radius: 25px;
  width: 10em;
  text-align: center;
}

.signup-link {
  background-color: #550000bd;
  color: rgb(0, 0, 0);
  margin: 0 0 20px 0;
}

.signup-link:hover {
  background-color: #c00000ad;
}

.signin-link {
  background-color: #bb0000b0;
  color: #000000;
  margin: 20px 0 0 0;
}

.signin-link:hover {
  background-color: #ca720ebe;
}


.signin-container,
.signup-container {
  background-image: url('/images/AnimeDragon2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  color: #f58b01;
  -webkit-text-stroke: 0.3px rgb(0, 0, 0);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20em;
  height: 50%;
  background-color: #d3b588c0;
  padding: 10px 40px 20px 40px;
  border-radius: 75px;
  color: #ff0000;
  font-weight: bold;
  -webkit-text-stroke: 0.3px rgb(0, 0, 0);
}

input {
  border: 1px solid rgba(196, 193, 193, 0.479);
  padding: 8px;
  border-radius: 10px;
}

button {
  font-family: "Iceberg", sans-serif;
  padding: 10px;
  background-color: #8f8258;
  color: rgb(0, 0, 0);
  border-radius: 45px;
  border: none;
  margin: 15px 0;
  font-size: 1.5em;
  font-weight: bold;
  -webkit-text-stroke: 0.3px rgb(255, 136, 0);
}

button:hover {
  background-color: #725a38;
}


.all-apps-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-apps-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 90%;
}

.add-app-link {
  padding: 10px;
  background-color: #48cace;
  color: rgba(93, 10, 248, 0.788);
  border-radius: 30px;
  border: none;
  font-size: 1.1em;
  padding: 2px 25px;
  text-decoration: none;
}

.add-app-link:hover {
  background-color: #0889f3;
}


ul {
  color: #ff0000; 
  list-style: none;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: #f368a2d0;
  padding: 20px;
  border-radius: 30px;
}

ul>a {
  text-decoration: none;
  color: #93fc93;
  width: 50%;
  background-color: #000000;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 15px 0;
  font-weight: bold;
  text-align: center;
}

ul>a:hover {
  background-color: #ffffff;
  color: white;
}


.new-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.new-body>form,
.edit-body>form {
  height: 70%;
}

textarea,
select {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;

  height: inherit;
}

select {
  margin-bottom: 10px;
}

.edit-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}