<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Add a New Show</title>
  <Style>
  body {
    background-image: url('/images/AnimeDragon5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
</Style>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Show</h1>
    <div class="new-body">
      <form action="/users/<%= user._id %>/applications" method="POST">
        
        <label for="showTitle">Show Title:</label>
        <input type="text" name="showTitle" id="showTitle" />

        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre" />

        <label for="comments">Comments:</label>
        <textarea name="comments" id="comments"></textarea>

        <label for="whereToWatch">Where to Watch:</label>
        <input type="text" name="whereToWatch" id="whereToWatch" />

        <label for="status">Status:</label>
        <select id="status" name="status">
          <option value="Interested">Interested</option>
          <option value="Watching">Watching</option>
          <option value="Watching But Not Finished">Watching But Not Finished</option>
          <option value="Finished">Finished</option>
          <option value="Would Recommend">Would Recommend</option>
          <option value="Would Not Recommend">Would Not Recommend</option>
        </select>
        <button type="submit">Add Show Title</button>
      </form>
    </div>
</body>

</html>