<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Add a New Show</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Show</h1>
    <div class="new-form-container">
      <form action="/users/<%= user._id %>/applications" method="POST">
        <label for="title">Show Title:</label>
        <input type="text" name="title" id="title" />

        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre" />

        <label for="comments">Comments:</label>
        <textarea name="comments" id="comments"></textarea>

        <label for="whereToWatch">Where to Watch:</label>
        <input type="text" name="whereToWatch" id="whereToWatch" />

        <label for="status">Status:</label>
        <select id="status" name="status">
          <option value="interested">Interested</option>
          <option value="watching">watching</option>
          <option value="watchingButNotFinished">watching But Not Finished</option>
          <option value="finished">finished</option>
          <option value="wouldRecommend">Would Recommend</option>
          <option value="wouldNotRecommend">Would Not Recommend</option>
        </select>
        <button type="submit">Add Show Title</button>
      </form>
    </div>
</body>

</html>